body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    padding: 40px;
}

h1, h2 {
    text-align: center;
}

.form-box {
    max-width: 450px;
    background: white;
    padding: 25px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

label {
    margin-top: 10px;
    display: block;
}

input, select {
    width: 100%;
    margin-top: 5px;
    padding: 8px;
}

button {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background: #1a73e8;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0f5ac6;
}

.factura-card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px #ccc;
    margin-top: 15px;
}
